*{
    margin: 0;
    padding: 0;
}
body{
    background:url("../images/background image.png") no-repeat;
    background-size: cover;
    color:white;
    font-family:"Poppins", sans-serif;
    font-weight: normal;
}