/* div{
    border:1px solid blue
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    font-size: 1em;
}
body{
    background:url("../images/background image.png") no-repeat;
    background-size: cover;
    color:white;
    font-family:"Poppins", sans-serif;
    font-weight: normal;
}
header{
    display:flex;
    height: 70px
}
header .logo{
    display:flex;
    width:30%;
    justify-content:center;
    padding-top: 1.3%
}
.logo-header{
    font-size: 1.7rem;
    font-weight:normal
}
.nav-items{
    width: 70%;
}
.nav-items ol{
    display:flex;
    list-style-type: none;
    width:100%;
    justify-content:space-around;
    padding-top: 2%;
}
/* .nav-items ol li{
    color:white
} */
.nav-items ol li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.container{
    display: flex;
}
.bold-message{
    width:100%;
    height: 90vh;
    padding: 10em 0 0 8em;
}
.message{
    font-size: 4.2rem;
    font-weight:normal;
}
.sub-message{
    font-size: 2.8rem;
    font-weight:normal;
    margin-top: 1em;
}
button{
    width:10em;
    height:3em;
    font-size: 1.7rem;
    border:none;
    border-radius: 10px;
    background-color:#4E9BB4;
    color: white;
    margin-top: 1em;
}
button:hover{
    cursor: pointer;

}
.nav-items ol li a:hover{
    color:#574870
}